* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-intro-mobile.png) #ff7979;
}

header {
    margin: 5.5rem 1.5rem 4rem;
    text-align: center;
}