* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #19A1AE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: #FFF;
    width: 350px;
}
